.about {
    
    color: var(--color-light);

    &__container {
        background-color: var(--color-dark);
        padding-block: 30px 60px;
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        line-height: 1.5;
    }

    &__text {
        color: var(--color-gray);

        @include mobile {
            font-size: 14px;
            line-height: 1.79;
            margin-bottom: 18px;
        }
    }

    &__image {
        object-fit: cover;
        margin-bottom: 25px;

        @include tablet {
            height: 569px;
        }

        @include mobile {
            height: auto;
            width: 100%;
        }
    }
}