.button {
    background-color: var(--color-accent);
    padding: 15.5px 22px;
    border: none;
    color: var(--color-light);
    font-weight: 700;
    line-height: 1;


    height: var(--button-height);

    &--submit {
        width: 126px;
    }

    @include mobile {
        --button-height: 40px;
        padding: 12px 22px;
        font-size: 14px;
    }

    @include hover {
        background-color: var(--color-active);
    }


    &:focus {
        outline: 3px solid var(--color-active);
    }

}
