.button {
  height: var(--button-height);
  padding-block: 15.5px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-light);
  background-color: var(--color-accent);
  border: none;

  &--submit {
    width: 126px;

    @include mobile-s {
      width: 115px;
    }
  }

  @include mobile-s {
    --button-height: 40px;

    padding: 12px 22px;
    font-size: 14px;
  }

  @include hover {
    background-color: var(--color-active);
  }

  &:focus {
    outline: 3px solid var(--color-active);
  }

  &--transparent {
    width: 121px;
    background-color: transparent;
    border: 3px solid var(--color-accent);

    @include mobile-s {
      width: 109px;
      padding: 12px;
    }

    @include hover {
      background-color: var(--color-accent);
    }

    &:focus {
      background-color: var(--color-focus);
      outline: none;
    }
  }
}
