.cross-button {
    padding: 0;
    margin-bottom: 16px;
    border: none;
    border-radius: 50%;
    color: var(--color-light);
    background-color: var(--color-gray-dark);

    @include square(18px);
    @include flex-center;
    @include hover {
        cursor: pointer;
        color: var(--color-accent);
    }

    &--contacts {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
