.cross-button {
  margin-bottom: 16px;
  padding: 0;
  color: var(--color-light);
  background-color: var(--color-gray-dark);
  border: none;
  border-radius: 50%;

  @include square(18px);
  @include flex-center;
  @include hover {
    color: var(--color-accent);
    cursor: pointer;
  }

  &--contacts {
    position: absolute;
    top: 20px;
    right: 20px;

    @include square(20px);
  }
}
