.footer {

    background-color: var(--color-dark);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        @include mobile-s {
            flex-direction: column-reverse;
            justify-content: center;
            padding-inline: 0px;
            height: 185px;
        }
    }

    &__logo {
        color: var(--color-gray-light);
        font-family: var(--font-family-alternate);
        font-size: 16px;

        @include mobile-s {
            padding-block: 14px;
            width: 100%;
            font-size: 10px;
            background-color: var(--color-dark-alt);

            @include flex-center;
            flex-direction: column;
        }
    }

    &__copyright {
        margin-left: auto;
        width: 360px;
        color: var(--color-gray);
        line-height: 1.37;

        cite {
            color: var(--color-gray-light);
        }

        @include tablet {
            display: none;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 330px;
        width: 162px;
        color: var(--color-gray);

        &-wrapper {
            height: 30px;
        }

        &-title {
            margin-bottom: 8px;
            line-height: 1.37;
            font-weight: 400;
        }

        &-icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            transition-duration: 0.2s;

            &:not(:last-child) {
                margin-right: 20px;
            }

            @include hover {
                color: var(--color-accent);
            }

            &:focus {
                outline: none; 
                color: var(--color-focus);
            }
        }

        @include desktop {
            margin-left: 70px;
        }

        @include mobile-s {
            margin: 0;
            padding-block: 30px;
        }
    }
}
