.logo {
    img {
        @include desktop {
            width: 166px;
            height: 27px;
        }

        @include mobile-s {
            width: 112px;
            height: 18px;
        }
    }
}