.mailing {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 16px;
        font-weight: 400;
        line-height: 0.92;

        @include mobile {
            margin-bottom: 14px;
            font-size: 18px;
            line-height: 1.22;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @include desktop {
            flex-direction: column;
        }
    }

    &__input {
        width: 474px;
        background-color: var(--color-dark-alt);
        color: var(--color-white);

        @include desktop {
            width: 342px;
        }

        @include mobile {
            width: 280px;
        }

        &::placeholder {
            color: var(--color-gray);
        }
    }
}