.mailing {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: 400;
        line-height: 0.92;
        margin-bottom: 16px;

        @include mobile {
            font-size: 18px;
            line-height: 1.22;
            margin-bottom: 14px;
        }
    }

    &__form {
        display: flex;
        gap: 20px;
        justify-content: space-between;

        @include desktop {
            flex-direction: column;
        }
    }

    &__input {
        background-color: var(--color-dark-alt);
        color: var(--color-white);
        width: 474px;

        @include desktop {
            width: 342px;
        }

        @include mobile {
            width: 280px;
        }

        &::placeholder {
            transition-duration: 0.2s;
            color: var(--color-gray);

        }
    }
}