.tel {
    display: flex;
    align-items: center;
    column-gap: 3px;
    margin-top: auto;
    height: 18px;
    color: var(--color-accent);
    font-weight: 500;
    line-height: 1;

    &::before {
        content: "";
        display: inline-block;
        background-image: url(../../High_Pass/images/icons/tel.svg);
        @include square(15px);


    }

    &--contacts {
        height: 20px;
        font-weight: 400;
        
        &::before {
            background-repeat: no-repeat;
            
            @include square(16.5px);
        }
    }
}

