:root {
    --color-dark: #202020;
    --color-dark-alt: #4A4A4A;
    --color-light: #FFFFFF;
    --color-accent: #FF6E30;
    --color-active: #CE4307;
    --color-focus: #BC572B;
    --color-gray: #CACACA;
    --color-gray-light: #E9E9E9;
    --color-gray-dark: #999999;

    --border-secondary: 3px solid var(--color-accent);
    
    --font-family-base: 'Roboto', sans-serif;
    --font-family-alternate: 'TTFirsNeue', sans-serif;

    --container-width: 1290px;
    --container-padding-x: 30px; 
    // паддинг у разных адаптивов разный
    
    --section-padding-y: 34px;

    --button--height: 50px;

    --transition-duration: 0.2s;
}