@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/TTFirsNeue-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/TTFirsNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #202020;
  --color-dark-alt: #4A4A4A;
  --color-light: #FFFFFF;
  --color-accent: #FF6E30;
  --color-active: #CE4307;
  --color-focus: #BC572B;
  --color-gray: #CACACA;
  --color-gray-light: #E9E9E9;
  --color-gray-dark: #999999;
  --border-secondary: 3px solid var(--color-accent);
  --font-family-base: "Roboto", sans-serif;
  --font-family-alternate: "TTFirsNeue", sans-serif;
  --container-width: 1290px;
  --container-padding-x: 31px;
  --button-height: 50px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
@media (max-width: 1023.98px) {
  .container {
    --container-padding-x: 27px;
  }
}
@media (max-width: 767.98px) {
  .container {
    --container-padding-x: 21px;
  }
}

.card-category {
  position: relative;
}
.card-category::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-title);
  position: absolute;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 123px;
  padding: 7px 15px 7px 14px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-light);
  background-color: var(--color-dark);
}
@media (max-width: 580.98px) {
  .card-category::after {
    top: 6px;
    right: 5px;
    height: 22px;
    width: 95px;
    padding: 4px 7px;
    font-size: 12px;
  }
}
.card-category--lowp::after {
  top: 7px;
  right: 7px;
  width: auto;
  height: 28px;
  padding: 6px 14px;
}
@media (max-width: 1280px) {
  .card-category--lowp::after {
    right: 8px;
  }
}
@media (max-width: 1023.98px) {
  .card-category--lowp::after {
    right: 7px;
  }
}
@media (max-width: 580.98px) {
  .card-category--lowp::after {
    top: 5px;
    right: 5px;
    width: auto;
    height: 22px;
    padding: 4px 14px;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 1023.98px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 580.98px) {
  .hidden-mobile-s {
    display: none !important;
  }
}

@media (min-width: 581px) {
  .visible-mobile-s {
    display: none !important;
  }
}

body {
  font-size: 16px;
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-dark);
  background-color: var(--color-light);
}

::-moz-placeholder {
  transition-duration: var(--transition-duration);
}

:-ms-input-placeholder {
  transition-duration: var(--transition-duration);
}

a,
button,
input,
textarea,
img,
::placeholder,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "TTFirsNeue", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 580.98px) {
  h1,
h2,
h3 {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .logo img {
    width: 166px;
    height: 26.79px;
  }
}
@media (max-width: 580.98px) {
  .logo img {
    width: 111.55px;
    height: 18px;
  }
}

.header {
  background-color: var(--color-dark);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
@media (max-width: 580.98px) {
  .header__inner {
    height: 70px;
  }
}
.header__inner--tablet {
  height: 45px;
  background-color: var(--color-dark-alt);
}
.header__menu {
  margin-left: auto;
}
.header__menu-list {
  display: flex;
  -moz-column-gap: 79px;
       column-gap: 79px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -moz-column-gap: 33px;
         column-gap: 33px;
  }
}
.header__menu-list--tablet {
  justify-content: space-between;
}
.header__menu-item {
  font-family: var(--font-family-alternate);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-light);
}
@media (max-width: 767.98px) {
  .header__menu-item {
    font-size: 14px;
  }
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    color: var(--color-accent);
  }
}
.header__menu-link:focus {
  background-color: var(--color-focus) !important;
  outline: none;
}
.header__menu--tablet {
  width: 100%;
  margin-left: 0px;
}
.header__search {
  margin-left: 193px;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media (hover: hover) {
  .header__search:hover {
    cursor: pointer;
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__search:active {
    cursor: pointer;
    color: var(--color-accent);
  }
}
@media (max-width: 1280px) {
  .header__search {
    margin-left: 131px;
  }
}
@media (max-width: 580.98px) {
  .header__search {
    margin-left: 0px;
    background-size: contain;
  }
  .header__search-ico {
    width: 20px;
    aspect-ratio: 1;
  }
}
.header__burger {
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media (hover: hover) {
  .header__burger:hover {
    cursor: pointer;
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__burger:active {
    cursor: pointer;
    color: var(--color-accent);
  }
}

.tel {
  display: flex;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
  height: 18px;
  margin-top: auto;
  font-weight: 500;
  line-height: 1;
  color: var(--color-accent);
}
.tel::before {
  content: "";
  display: inline-block;
  background-image: url(/images/icons/tel.svg);
  width: 15px;
  aspect-ratio: 1;
}
.tel--contacts {
  height: 21px;
  font-family: "TTFirsNeue";
  font-weight: 400;
}
.tel--contacts::before {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.5px;
  aspect-ratio: 1;
}

.cross-button {
  margin-bottom: 16px;
  padding: 0;
  color: var(--color-light);
  background-color: var(--color-gray-dark);
  border: none;
  border-radius: 50%;
  width: 18px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (hover: hover) {
  .cross-button:hover {
    color: var(--color-accent);
    cursor: pointer;
  }
}
@media (hover: none) {
  .cross-button:active {
    color: var(--color-accent);
    cursor: pointer;
  }
}
.cross-button--contacts {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  aspect-ratio: 1;
}

.mobile-overlay {
  width: 100%;
  height: calc(100dvh - 70px);
  max-width: 100%;
  margin: 70px 0 0;
  padding: 18px 18px 36px;
  font-family: var(--font-family-alternate);
  background-color: var(--color-dark);
  border: none;
}
.mobile-overlay__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.mobile-overlay__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}
.mobile-overlay__item {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-light);
}
@media (hover: hover) {
  .mobile-overlay__link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .mobile-overlay__link:active {
    color: var(--color-accent);
  }
}
.mobile-overlay__link:focus {
  background-color: var(--color-focus) !important;
  outline: none;
}
.mobile-overlay::-webkit-backdrop {
  background: none;
}
.mobile-overlay::backdrop {
  background: none;
}

.button {
  height: var(--button-height);
  padding-block: 15.5px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-light);
  background-color: var(--color-accent);
  border: none;
}
.button--submit {
  width: 126px;
}
@media (max-width: 580.98px) {
  .button--submit {
    width: 115px;
  }
}
@media (max-width: 580.98px) {
  .button {
    --button-height: 40px;
    padding: 12px 22px;
    font-size: 14px;
  }
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-active);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-active);
  }
}
.button:focus {
  outline: 3px solid var(--color-active);
}
.button--transparent {
  width: 121px;
  background-color: transparent;
  border: 3px solid var(--color-accent);
}
@media (max-width: 580.98px) {
  .button--transparent {
    width: 109px;
    padding: 12px;
  }
}
@media (hover: hover) {
  .button--transparent:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button--transparent:active {
    background-color: var(--color-accent);
  }
}
.button--transparent:focus {
  background-color: var(--color-focus);
  outline: none;
}

.input {
  height: var(--button-height);
  padding: 15px 23px;
  border: none;
}
.input--textarea {
  line-height: 1.29;
}
@media (max-width: 580.98px) {
  .input {
    --button-height: 40px;
    padding: 12px 23px;
  }
  .input::-moz-placeholder {
    font-size: 14px;
  }
  .input:-ms-input-placeholder {
    font-size: 14px;
  }
  .input::placeholder {
    font-size: 14px;
  }
}
@media (hover: hover) {
  .input:hover::-moz-placeholder {
    color: var(--color-accent);
  }
  .input:hover:-ms-input-placeholder {
    color: var(--color-accent);
  }
  .input:hover::placeholder {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .input:active::-moz-placeholder {
    color: var(--color-accent);
  }
  .input:active:-ms-input-placeholder {
    color: var(--color-accent);
  }
  .input:active::placeholder {
    color: var(--color-accent);
  }
}
.input:focus {
  outline: 1px solid var(--color-accent);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 580.98px) {
  .hero {
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }
}
.hero__container {
  padding-block: 41px 68px;
}
@media (max-width: 1280px) {
  .hero__container {
    padding-block: 34px 68px;
  }
}
@media (max-width: 580.98px) {
  .hero__container {
    padding-block: 30px 50px;
  }
}
.hero__banner {
  display: flex;
  background-image: url(../../images/hero-banner-bg.jpg);
  background-position: 0px -172px;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.04;
  color: var(--color-light);
}
@media (max-width: 1280px) {
  .hero__banner {
    background-position: 0px -33px;
  }
}
@media (max-width: 1023.98px) {
  .hero__banner {
    background-position: 0px -50px;
    margin-top: 2px;
  }
}
@media (max-width: 767.98px) {
  .hero__banner {
    background-position: -4px 0px;
    margin-top: 0px;
  }
}
@media (max-width: 580.98px) {
  .hero__banner {
    min-height: 422px;
  }
}
.hero__banner-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: auto;
  padding: 60px;
}
@media (max-width: 1280px) {
  .hero__banner-body {
    padding: 30px;
  }
}
.hero__banner-subtitle {
  margin-bottom: 3px;
  line-height: 1;
}
@media (max-width: 1280px) {
  .hero__banner-subtitle {
    margin-bottom: 9px;
  }
}
@media (max-width: 1023.98px) {
  .hero__banner-subtitle {
    margin-bottom: 14px;
  }
}
@media (max-width: 580.98px) {
  .hero__banner-subtitle {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
.hero__banner-title {
  margin-bottom: 19px;
  font-size: 36px;
}
@media (max-width: 1280px) {
  .hero__banner-title {
    margin-bottom: 22px;
    font-size: 34px;
    line-height: 1;
  }
}
@media (max-width: 1023.98px) {
  .hero__banner-title {
    margin-bottom: 23px;
    font-size: 34px;
    line-height: 0.91;
  }
}
@media (max-width: 767.98px) {
  .hero__banner-title {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 1.1;
  }
}
.hero__banner-button {
  width: 159px;
}
@media (max-width: 580.98px) {
  .hero__banner-button {
    width: 145px;
  }
}
.hero__photos-title {
  margin-bottom: 18px;
  line-height: 1.04;
}
@media (max-width: 1280px) {
  .hero__photos-title {
    margin-bottom: 25px;
  }
}
@media (max-width: 1023.98px) {
  .hero__photos-title {
    margin-bottom: 17px;
    font-size: 22px;
  }
}
@media (max-width: 767.98px) {
  .hero__photos-title {
    font-size: 16px;
  }
}
@media (max-width: 580.98px) {
  .hero__photos-title {
    height: 38px;
    margin-bottom: 16px;
    font-size: 18px;
  }
}
.hero__photos-list {
  display: grid;
  grid-template: 300px 257px/1fr 1fr;
  gap: 30px;
}
@media (max-width: 1280px) {
  .hero__photos-list {
    grid-template: 332px 186px/1fr 1fr;
  }
}
@media (max-width: 1023.98px) {
  .hero__photos-list {
    grid-template: 228px 133px/1fr 1fr;
  }
}
@media (max-width: 580.98px) {
  .hero__photos-list {
    grid-template: 186px 105px/1fr 1fr;
  }
}
.hero__photos-item--1 {
  grid-column: -1/1;
}
.hero__photos-image {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1280px) {
  .hero__photos-image--1 {
    height: 332px;
    -o-object-position: 0px 0px;
       object-position: 0px 0px;
  }
}
@media (max-width: 1023.98px) {
  .hero__photos-image--1 {
    height: 228px;
  }
}
@media (max-width: 580.98px) {
  .hero__photos-image--1 {
    height: 186px;
  }
}
.hero__photos-image--2 {
  -o-object-position: 0 -127px;
     object-position: 0 -127px;
}
@media (max-width: 1280px) {
  .hero__photos-image--2 {
    height: 186px;
    -o-object-position: 0px -70px;
       object-position: 0px -70px;
  }
}
@media (max-width: 1023.98px) {
  .hero__photos-image--2 {
    height: 133px;
    -o-object-position: 0px -50px;
       object-position: 0px -50px;
  }
}
@media (max-width: 580.98px) {
  .hero__photos-image--2 {
    height: 105px;
    -o-object-position: 0px -41px;
       object-position: 0px -41px;
  }
}
@media (max-width: 1280px) {
  .hero__photos-image--3 {
    height: 186px;
  }
}
@media (max-width: 1023.98px) {
  .hero__photos-image--3 {
    height: 133px;
  }
}
@media (max-width: 580.98px) {
  .hero__photos-image--3 {
    height: 105px;
  }
}
@media (hover: hover) {
  .hero__photos-image:hover {
    transform: scale(1.05);
  }
}
@media (hover: none) {
  .hero__photos-image:active {
    transform: scale(1.05);
  }
}

.mailing {
  display: flex;
  flex-direction: column;
}
.mailing__title {
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 0.92;
}
@media (max-width: 767.98px) {
  .mailing__title {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 1.22;
  }
}
.mailing__form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1280px) {
  .mailing__form {
    flex-direction: column;
  }
}
.mailing__input {
  width: 474px;
  color: var(--color-white);
  background-color: var(--color-dark-alt);
}
@media (max-width: 1280px) {
  .mailing__input {
    width: 342px;
  }
}
@media (max-width: 767.98px) {
  .mailing__input {
    width: 278px;
  }
}
.mailing__input::-moz-placeholder {
  color: var(--color-gray);
}
.mailing__input:-ms-input-placeholder {
  color: var(--color-gray);
}
.mailing__input::placeholder {
  color: var(--color-gray);
}

.about {
  color: var(--color-light);
}
.about__container {
  padding-block: 30px 70px;
  background-color: var(--color-dark);
}
@media (max-width: 1280px) {
  .about__container {
    padding-block: 30px 82px;
  }
}
@media (max-width: 1023.98px) {
  .about__container {
    padding-block: 32px 62px;
  }
}
@media (max-width: 580.98px) {
  .about__container {
    padding-block: 32px 60px;
  }
}
.about__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 580.98px) {
  .about__body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
.about__title {
  margin-bottom: 5px;
  line-height: 1.292;
}
@media (max-width: 1023.98px) {
  .about__title {
    margin-bottom: 3px;
  }
}
.about__text {
  color: var(--color-gray);
}
@media (max-width: 767.98px) {
  .about__text {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 1.79;
  }
}
.about__content {
  margin-block: -3px -1px;
}
@media (max-width: 580.98px) {
  .about__content {
    margin-block: -1px 0px;
  }
}
.about__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -81px;
     object-position: 0px -81px;
  margin-bottom: 25px;
}
@media (max-width: 1280px) {
  .about__image {
    -o-object-position: -16px 0px;
       object-position: -16px 0px;
    height: 332px;
    margin-bottom: 24px;
  }
}
@media (max-width: 1023.98px) {
  .about__image {
    -o-object-position: -255px 0px;
       object-position: -255px 0px;
    height: 569px;
  }
}
@media (max-width: 580.98px) {
  .about__image {
    -o-object-position: -70px 0px;
       object-position: -70px 0px;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    margin-bottom: 26px;
  }
}

.projects {
  padding-block: 68px;
}
@media (max-width: 580.98px) {
  .projects {
    padding-block: 50px 34px;
  }
}
.projects__title {
  margin-bottom: 12px;
  line-height: 1.292;
}
@media (max-width: 580.98px) {
  .projects__title {
    margin-bottom: 16px;
  }
}
.projects__list {
  display: grid;
  gap: 30px;
  grid-template: 300px 300px/repeat(12, 1fr);
  grid-template-areas: "one one two two three three four four four four four four " "five five five five five five six six six seven seven seven";
}
@media (max-width: 1280px) {
  .projects__list {
    row-gap: 24px;
    grid-template: 285px 307px 307px/repeat(8, 1fr);
    grid-template-areas: "one one two two three three three three" "four four four four four six six six" "seven seven seven five five five five five";
  }
}
@media (max-width: 1023.98px) {
  .projects__list {
    row-gap: 0px;
    grid-template: 300px 25px 300px 30px 307px 24px 300px/repeat(6, 1fr);
    grid-template-areas: "one one two two three three" ". . . . . ." "four four four four four four " ". . . . . ." "six six six seven seven seven " ". . . . . ." "five five five five five five";
  }
}
@media (max-width: 580.98px) {
  .projects__list {
    grid-template: 300px 25px 278px 25px 278px 23px 422px 26px 300px 25px 300px 25px 422px/1fr;
    grid-template-areas: "one" "." "two" "." "three" "." "four" "." "six" "." "seven" "." "five";
  }
}
.projects__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.projects__item--1 {
  grid-area: one;
}
.projects__item--2 {
  grid-area: two;
}
.projects__item--3 {
  grid-area: three;
}
@media (max-width: 580.98px) {
  .projects__item--3 p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 1280px) {
  .projects__item--3 img {
    -o-object-position: 0px -85px;
       object-position: 0px -85px;
  }
}
@media (max-width: 1023.98px) {
  .projects__item--3 img {
    -o-object-position: -29px 0px;
       object-position: -29px 0px;
  }
}
@media (max-width: 580.98px) {
  .projects__item--3 img {
    -o-object-position: 0px 0px;
       object-position: 0px 0px;
  }
}
.projects__item--4 {
  grid-area: four;
  background: url(../images/projects/project-4.jpg);
  background-position: 0px -85px;
}
@media (max-width: 767.98px) {
  .projects__item--4 time {
    margin-bottom: 7px;
  }
}
@media (max-width: 767.98px) {
  .projects__item--4 h3 {
    margin-bottom: 9px;
  }
}
@media (max-width: 580.98px) {
  .projects__item--4 p {
    margin-bottom: 16px;
    line-height: 1.29;
  }
}
@media (max-width: 1280px) {
  .projects__item--4 {
    background-position: 0px -70px;
  }
}
@media (max-width: 1023.98px) {
  .projects__item--4 {
    background-position: 0px -116px;
  }
}
@media (max-width: 580.98px) {
  .projects__item--4 {
    background-position: center;
  }
}
.projects__item--5 {
  grid-area: five;
  background: url(.././images/projects/project-5.jpg);
  background-position: 0px -60px;
}
@media (max-width: 580.98px) {
  .projects__item--5 p {
    width: 200px;
  }
}
@media (max-width: 1280px) {
  .projects__item--5 {
    background-position: 0px -43px;
  }
}
@media (max-width: 1023.98px) {
  .projects__item--5 {
    background-position: 0px -88px;
  }
}
@media (max-width: 767.98px) {
  .projects__item--5 {
    background-position: 0px 0px;
  }
}
@media (max-width: 400px) {
  .projects__item--5 {
    background-position: -274px 0px;
  }
}
.projects__item--6 {
  grid-area: six;
}
.projects__item--7 {
  grid-area: seven;
}
.projects__item--wide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 30px 30px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-light);
}
@media (max-width: 1280px) {
  .projects__item--wide {
    padding: 30px;
  }
}
@media (max-width: 580.98px) {
  .projects__item--wide {
    justify-content: flex-end;
  }
}
.projects__item-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.projects__item-title {
  max-width: 292px;
  margin-bottom: 6px;
  line-height: 1;
}
@media (max-width: 580.98px) {
  .projects__item-title {
    font-size: 24px;
  }
}
.projects__item-image {
  margin-bottom: 18px;
}
.projects__item-description {
  margin-bottom: auto;
  line-height: 1.37;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (max-width: 1280px) {
  .projects__item-description--small {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 1023.98px) {
  .projects__item-description--small {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
.projects__item-description--wide {
  max-width: 289px;
  font-weight: 300;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
@media (max-width: 580.98px) {
  .projects__item-description--wide {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
@media (hover: hover) {
  .projects__item-description:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .projects__item-description:active {
    color: var(--color-accent);
  }
}
.projects__item-description:focus {
  background-color: var(--color-focus) !important;
  outline: none;
}
.projects__item-button {
  margin-top: auto;
}
@media (max-width: 580.98px) {
  .projects__item-button {
    margin-top: 0;
  }
}
.projects__item-time {
  display: flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  height: 22px;
  font-size: 12px;
  line-height: 1;
  color: var(--color-gray-dark);
}
.projects__item-time::before {
  content: "";
  display: inline-block;
  background-image: url(/images/icons/calendar-gray.svg);
  background-repeat: no-repeat;
  width: 14px;
  aspect-ratio: 1;
}
.projects__item-time--white {
  margin-bottom: 2px;
  color: var(--color-light);
}
@media (max-width: 580.98px) {
  .projects__item-time--white {
    margin-bottom: 6px;
  }
}
.projects__item-time--white::before {
  background-image: url(/images/icons/calendar.svg);
}

.request-form__title {
  font-weight: 400;
  line-height: 0.92;
  margin-top: -6px;
  margin-bottom: 5px;
}
@media (max-width: 1023.98px) {
  .request-form__title {
    margin-top: 0px;
  }
}
@media (max-width: 580.98px) {
  .request-form__title {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 7px;
  }
}
.request-form__description {
  max-width: 370px;
  margin-bottom: 14px;
  line-height: 1.37;
  color: var(--color-gray-dark);
}
@media (max-width: 1023.98px) {
  .request-form__description {
    max-width: 100%;
    margin-bottom: 14px;
  }
}
@media (max-width: 580.98px) {
  .request-form__description {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.29;
  }
}
.request-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.request-form__input {
  width: 100%;
  margin-bottom: 20px;
  color: var(--color-white);
  background-color: var(--color-gray-light);
}
.request-form__input--comment {
  height: 150px;
}
.request-form__input::-moz-placeholder {
  color: var(--color-gray-dark);
}
.request-form__input:-ms-input-placeholder {
  color: var(--color-gray-dark);
}
.request-form__input::placeholder {
  color: var(--color-gray-dark);
}
@media (max-width: 1023.98px) {
  .request-form {
    max-width: 466px;
  }
}

.contacts__container {
  padding-bottom: 68px;
}
@media (max-width: 580.98px) {
  .contacts__container {
    padding-bottom: 50px;
  }
}
.contacts__body {
  display: grid;
  grid-template: 1fr/850px auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1280px) {
  .contacts__body {
    grid-template: 1fr/590px auto;
  }
}
@media (max-width: 1023.98px) {
  .contacts__body {
    display: flex;
    flex-direction: column;
  }
}
.contacts__title {
  margin-bottom: 22px;
  line-height: 1.292;
}
@media (max-width: 580.98px) {
  .contacts__title {
    margin-bottom: 14px;
  }
}
.contacts__map {
  height: 460px;
  background-image: url(/images/map.jpg);
}
.contacts__map-overlay {
  position: relative;
  width: 410px;
  height: 100%;
  padding: 175px 50px 150px 60px;
  background-color: rgba(32, 32, 32, 0.85);
}
.contacts__map-overlay-title {
  margin-bottom: 5px;
  color: var(--color-light);
  font-weight: 300;
  line-height: 0.92;
}
@media (max-width: 580.98px) {
  .contacts__map-overlay-title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.22;
  }
}
.contacts__map-overlay-adress {
  color: var(--color-gray);
  margin-bottom: 2px;
}
@media (max-width: 1280px) {
  .contacts__map-overlay-adress {
    max-width: 293px;
  }
}
@media (max-width: 1023.98px) {
  .contacts__map-overlay-adress {
    max-width: 410px;
    margin-bottom: 4px;
  }
}
@media (max-width: 580.98px) {
  .contacts__map-overlay-adress {
    max-width: 267px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.3;
  }
}
.contacts__map-overlay-tel {
  margin-left: 2px;
}
@media (max-width: 1280px) {
  .contacts__map-overlay-tel {
    position: absolute;
    bottom: 24px;
    left: 178px;
  }
}
@media (max-width: 1023.98px) {
  .contacts__map-overlay-tel {
    position: static;
  }
}
@media (max-width: 580.98px) {
  .contacts__map-overlay-tel {
    font-weight: 500;
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  .contacts__map-overlay {
    top: calc(100% - 157px);
    padding: 25px 15px 20px 30px;
    width: 100%;
    height: 157px;
  }
}
@media (max-width: 580.98px) {
  .contacts__map-overlay {
    padding: 26px 25px 14px 18px;
  }
}
@media (max-width: 1280px) {
  .contacts__map {
    background-position: -130px 0px;
  }
}
@media (max-width: 1023.98px) {
  .contacts__map {
    margin-bottom: 24px;
  }
}
@media (max-width: 580.98px) {
  .contacts__map {
    height: 472px;
    margin-inline: -21px;
    margin-bottom: 23px;
    background-position: -348px 0px;
  }
}

.footer {
  background-color: var(--color-dark);
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  height: 106px;
  padding-top: 24px;
}
@media (max-width: 580.98px) {
  .footer__inner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 185px;
    padding: 0px;
  }
}
.footer__logo {
  color: var(--color-gray-light);
  font-family: var(--font-family-alternate);
  font-size: 14px;
}
.footer__logo img {
  margin-bottom: 5px;
}
@media (max-width: 1280px) {
  .footer__logo img {
    margin-top: 6px;
    margin-bottom: 2px;
  }
}
@media (max-width: 1023.98px) {
  .footer__logo img {
    margin-top: 6px;
    margin-bottom: 4px;
  }
}
@media (max-width: 580.98px) {
  .footer__logo img {
    margin: 0px;
  }
}
@media (max-width: 580.98px) {
  .footer__logo {
    width: 100%;
    padding-block: 14px 12px;
    font-size: 10px;
    background-color: var(--color-dark-alt);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.footer__copyright {
  width: 360px;
  margin-left: auto;
  line-height: 1.37;
  color: var(--color-gray);
}
@media (max-width: 1023.98px) {
  .footer__copyright {
    display: none;
  }
}
.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 162px;
  margin-left: 330px;
  color: var(--color-gray);
}
.footer__socials-wrapper {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 30px;
}
.footer__socials-title {
  margin-bottom: 8px;
  line-height: 1.37;
  font-weight: 400;
}
.footer__socials-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}
@media (hover: hover) {
  .footer__socials-icon:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer__socials-icon:active {
    color: var(--color-accent);
  }
}
.footer__socials-icon:focus {
  color: var(--color-focus);
  outline: none;
}
@media (max-width: 1280px) {
  .footer__socials {
    margin-left: 70px;
  }
}
@media (max-width: 580.98px) {
  .footer__socials {
    margin: 0;
    padding-block: 31px 32px;
  }
}/*# sourceMappingURL=styles.css.map */